:root {
  --ocean-bg: #f0f8ff;
  --ocean-dark: #006994;
  --ocean-medium: #4ca3dd;
  --ocean-light: #e0f0f5;
  --white: #ffffff;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ocean-bg);
  font-family: sans-serif;
  color: var(--ocean-dark);
}

/* App-layout */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.game-area {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  margin-top: 20px;
}

.board-layout {
  display: inline-grid;
  grid-template-columns: 40px auto;
  grid-template-rows: 40px auto;

  gap: 10px;
  padding: 20px;
  background-color: var(--ocean-dark);
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 105, 148, 0.3);
}

.headers-row {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  gap: 4px;
  grid-column: 2;
}

.headers-column {
  display: grid;
  grid-template-rows: repeat(10, 50px);
  gap: 4px;
  grid-row: 2;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);

  gap: 4px;
  grid-column: 2;
  grid-row: 2;
  margin-right: 40px;
  margin-bottom: 40px;
}

.label-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bold;
  font-size: 0.9rem;
}

.cell {
  background-color: var(--ocean-light);
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.cell:hover {
  background-color: var(--ocean-medium);
  transform: scale(1.05);
}

.cell-clicked {
  background-color: var(--ocean-dark);
  border: 2px solid var(--white);
  pointer-events: none; /* Disable clicks */
  transform: scale(0.95);
}

/* --- Shipyard Container --- */
.shipyard {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 12px;
  border: 2px dashed var(--ocean-dark);
  min-width: 200px;
  align-items: flex-start;
  gap: 20px;
}

.shipyard h2 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--ocean-dark);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* --- Individual Ship --- */
.fleet-ship {
  display: flex;
  gap: 2px;
  padding: 5px;
  border-radius: 4px;
  cursor: grab;
  transition: transform 0.2s ease;
  background-color: transparent;
}

.fleet-ship:hover {
  background-color: rgba(0, 105, 148, 0.1);
}

.fleet-ship:active {
  cursor: grabbing;
}

.fleet-ship.vertical {
  flex-direction: column;
}

.ship-present,
.ship-part {
  width: 50px;
  height: 50px;
  background-color: #34495e;
  border: 1px solid var(--white);
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.ship-hitted {
  background-color: #e74c3c;
  border: 2px solid var(--white);
}

/* Reset Button */
.reset-btn {
  margin-top: 15px;
  padding: 12px 48px;
  background-color: #e74c3c;
  color: var(--white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.reset-btn:hover {
  background-color: #a7372b;
}

/* Start Button */
.start-btn {
  margin-top: 20px;
  padding: 15px 40px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.start-btn:hover {
  background-color: #067735;
}

/* Randomize Button */
.random-btn {
  margin-top: 15px;
  padding: 12px 48px;
  background-color: #b339e4;
  color: var(--white);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.random-btn:hover {
  background-color: #7c1aa3;
}
